<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>iWiki: {{ name }}</title>
</head>
<body>
   <h1>{{ name }}</h1>
    <form action="/wiki/{{ name }}/edit/" method="post">
    {% csrf_token %}
    <textarea name="content" cols="80" rows="30">{{ content }}</textarea><br>
    <input type="submit" value="Save">
    </form>
{% include "footer.html" %}
</body>
</html>