{% extends "base.html" %}

{% block content %}
    <h1>Register the user</h1>
    <p>Please introduce the following data</p>
    <form action="/createuser/" method="post">
    {% csrf_token %}
        <label><strong>Login</strong></label>
    <br>
        <input type="text" name="login_user" value="{{ username }}" pattern="[A-Za-z0-9_-]+"
               aria-describedby="name-format" title="Login should contain just letters, _ and -" required>
    <br>
        <label><strong>Email</strong></label>
        <br>
        <input type="email" name="email_user" value="{{ email }}" required>
        <br>
    <label><strong>Password</strong></label>
    <br>
    <input type="password" name="pswd_user" min="3" required><br>
    <input type="submit" value="Register">
  </form>
{% endblock content %}