{% extends "base.html"%}

{% block content %}
<h1>{{ name }}</h1>
   The article has been modified while you were editing it.

   <h2>Current version</h2>
   <h3>{{ article.name }}</h3>
   <p>{{ article.content }}</p>

   <h2>Your version</h2>
   <h3>{{ user_name }}</h3>
   <p>{{ user_content}}</p>

   <h2>New version</h2>
   Please combine the current version and your version into a new article
    <form action="/editblog/{{ article.id_article }}" method="post">
    {% csrf_token %}
    <label>Article title<input type="text" name="name" value="{{ article.name }}"></label><br>
    <textarea name="content" cols="80" rows="30">{{ article.content }}</textarea><br>
    <input type="submit" value="Save">
  </form>
{% endblock content %}