{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Simple blog{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>

<body>
<div class="wrapper col-md-12">
    <div id="header">
        <div class="row">
            <div class="col-md-9">
                <h1>{% block header %}Simple blog{% endblock header %}</h1>

                <p>Page name {{ page_name }}</p>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>Message: {{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <!-- end logo, title -->
            <div class="col-md-3">
                {% if not user.is_authenticated %}
                    <a href="/login">Login</a>
                {% else %}
                    <p>Hello, {{ user.username }} <a href="/logout">Logout</a></p>
                {% endif %}
            </div>
            <!-- end login form block-->
        </div>
    </div>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/myblog/">My Blog</a></li>
                <li><a href="/addblog/">Add article</a></li>
                <li><a href="/createuser/">Register new user</a></li>
            </ul>
        {% endblock sidebar %}
    </div>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
</div>

</body>
</html>