{% extends "base.html" %}
{% block content %}
    <h1>Please login</h1>

    <form action="" method="post">
        {% csrf_token %}
        <label><strong>Login</strong></label>
        <br>
        <input type="text" name="login_user" value="{{ username }}" required>
        <br>
        <label><strong>Password</strong></label>
        <br>
        <input type="password" name="pswd_user" value="" required><br>
        <input type="submit" value="Register">
    </form>
{% endblock content %}