{% extends "base.html" %}

{% block content %}
    <p>Welcome to auction website</p>
    <form method="get" action="/search">
        <input name="search" value="{{ search }}">
        <button type="submit" value="Submit" name="Search">Search</button>
    </form>
    <br/>
    <table class="table table-striped">
    <tr>
        <td class="col-md-3">Title auction</td>
        <td class="col-md-4">Description auction</td>
        <td class="col-md-2">Starting price</td>
        <td class="col-md-2">Deadline</td>
        <td class="col-md-1">Actions/Status</td>
    </tr>
    {% for auction in auctions_list %}
        <tr>
            <td>{{ auction.title_auction }}</td>
            <td>{{ auction.description|truncatechars:300 }}</td>
            <td>{{ auction.min_price }}</td>
            <td>{{ auction.end_date }}</td>
            <td>
                {{ auction.winner|default:"-"}}
                <a href="/view/{{ auction.id_auction }}"><button>View auction</button></a>
                <br/>
                <a href="/edit/{{ auction.id_auction }}"><button>Edit auction</button></a>
                <br/>
                {{ auction.status.title }}
                <br/>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}