{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Yet Another Auction Site{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>

<body>
<div class="wrapper col-md-12">
    <div id="header">
        <div class="row">
            <div class="col-md-9">
                <h1>{% block header %}{% trans "YAAS" %}{% endblock header %}</h1>

                <p><em>{% trans "Page name" %}: </em>{{ page_name }}</p>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% trans "Message" %}: {{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <!-- end logo, title -->
            <div class="col-md-3">
                {% if not user.is_authenticated %}
                    <p><a href="/login">{% trans "Login" %}</a> <a href="/registration">{% trans "Register" %}</a></p>
                {% else %}
                    <p>{% trans "Hello" %}, {{ user.username }} <a href="/profile">{% trans "Profile" %}</a> <a href="/logout">{% trans "Logout" %}</a></p>
                {% endif %}
                {{ request.session.lang }}

                <a href="/translate?lan=en&page={{ request.path }}">EN</a> <a href="/translate?lan=fi&page={{ request.path }}">FI</a>
            </div>
            <!-- end login form block-->
        </div>
    </div>
    <div class="row">
        <div id="sidebar" class="col-md-2 pull-left">
            {% block sidebar %}
                <ul>
                    <!-- Menu for users who are not logged in-->
                    <li><a href="/">Home</a></li>

                    <!-- Additional menu for super user-->
                    {% if user.is_superuser %}
                        <li><a href="/populate_db">{% trans "Populate database with test data" %}</a></li>
                    {% endif %}

                    <!-- Additional menu for users who are logged in-->
                    {% if user.is_authenticated %}
                        <li><a href="/create_auction">{% trans "Create an auction" %}</a></li>
                    {% endif %}
                </ul>
            {% endblock sidebar %}
        </div>

        <div id="content" class="col-md-10">
            {% block content %}{% endblock content %}
        </div>
    </div>

    <div id="footer" class="navbar-fixed-bottom">
        {% block footer %}
        {% endblock footer %}
        <p>Copyright Anna Corobco</p>
    </div>
</div>

</body>
</html>