{% extends "base.html" %}

{% block content %}
    <h4>Change profile details</h4>
    <p>Your current email is {{ user.email }}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Edit">
    </form>
{% endblock content %}