{% extends "base.html" %}

{% block content %}
    <h1>Register the user</h1>
    <p>Please introduce the following data</p>

     <form action="" method="post">
        {% csrf_token %}
         {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock content %}


