{% extends "base.html" %}

{% block content %}
    <h4>{{ auction.title_auction }}</h4>
    <p><strong>Deadline: </strong>{{ auction.end_date }}</p>
    <p><strong>Status: </strong>{{ auction.status.title }}</p>
    <p><strong>Description: </strong>{{ auction.description }}</p>
    <p><strong>Winning bid: </strong>{{ winning_bid|default:"No winner" }}</p>
    <h3>Place a bid</h3>

    <form action="/bid/{{ auction.id_auction }}" method="post">
        {% csrf_token %}
        <label><strong>Your bid price</strong></label>
        <br>
        <input name="bid_price" value="{{ bid_price }}">
        <br/>
        <input type="submit" value="Bid">
    </form>
{% endblock content %}