{% extends "base_articles.html" %}

{% load tz %}

{% block footer %}
    <p>
        Session start date (when a value is written in session): {{ request.session.start_session|date:"M. d, Y, h:i a"|default:"Session haven't started yet" }}<br>
        Session start date (with middleware): {{ request.session.start_session_with_middleware|date:"M. d, Y, h:i a"|default:"Session haven't started yet" }}<br>
        Articles visited: {{ request.session.articles_visited|default:0 }} <br>
        Articles edited: {{ request.session.articles_edited|default:0 }} <br>
        Articles created: {{ request.session.articles_created|default:0 }}<br>
        Articles deleted: {{ request.session.articles_deleted|default:0 }} <br>
    </p>
    <a href="/clear_session_data"><input type="button" value="Clear data"></a>
{% endblock footer %}