<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Simple blog{% endblock title%}</title>
</head>

<body>
    <div id="header">
        <h1>{%  block header %}Simple blog{% endblock header %}</h1>
        <p>Page name {{ page_name }}</p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>Message: {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/myblog/">My Blog</a></li>
            <li><a href="/addblog/">Add article</a></li>
        </ul>
        {% endblock sidebar%}
    </div>

    <div id="content">
        {% block content %}{% endblock content%}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock footer%}
    </div>
</body>
</html>