{% extends "base.html" %}

{% block content %}
    <h1>{{ article.name }}</h1>
    <p>{{ article.date }}</p>
    <form action="/editblog/{{ article.id_article }}" method="post">
    {% csrf_token %}
    <label><strong>Title</strong></label>
    <br>
    <input type="text" name="name" value="{{ article.name }}">
    <br>
    <label><strong>Article content</strong></label>
    <br>
    <textarea name="content" cols="80" rows="20">{{ article.content}}</textarea><br>
    <input type="submit" value="Save">
  </form>
{% endblock content %}