{% extends "base.html" %}

{% block content %}
    {% for article in articles_list %}
        <h2>{{ article.name }}</h2>
        <p>{{ article.date }} Version {{ article.version }}</p>
        <a href="/editblog/{{ article.id_article }}">Edit</a>
        <a href="/myblog/{{ article.id_article }}">View</a>
        <a href="/deleteblog/{{ article.id_article }}">Delete</a>
        <p>{{ article.content|safe|truncatechars:300 }}</p>
        <hr>
    {% endfor %}
{% endblock content %}